-
    let pageRoutes = [
        {
            "link": "#",
            "text": "Home",
            "aria": "page",
        },
        {
            "link": "#",
            "text": "About",
            "aria": "page",
        },
        {
            "link": "#",
            "text": "Contact",
            "aria": "page",
        },
    ]


mixin menu(classNameMenu, classNameItem, classNameLink)
    ul.navbar-nav.text-center(class=classNameMenu)
        each route in pageRoutes
            li.nav-item(class=classNameItem)
                a.nav-link.active(class=classNameLink)(
                    aria-current=route.aria
                    href=route.link
                ) #{route.text}
